# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.spec

# 数据 & 配置
smart_organizer_data/
smart_organizer/
*.db
*.json
file_log.txt

# 下载的依赖包（太大，不适合 git）
packages/

# 环境
venv/
.env

# 系统
Thumbs.db
.DS_Store

# 数据库备份文件
数据库*.json
